In [1]:
import pandas as pd

# Load the dataset
file_path = '/Users/kareemkassamia/Downloads/kaggle_income 2.csv'
income_df = pd.read_csv(file_path, encoding='latin1')

# Display the first few rows and summary information about the dataset
print(income_df.head())
print(income_df.info())

        id  State_Code State_Name State_ab          County            City  \
0  1011000           1    Alabama       AL   Mobile County       Chickasaw
1  1011010           1    Alabama       AL  Barbour County      Louisville
2  1011020           1    Alabama       AL   Shelby County      Columbiana
3  1011030           1    Alabama       AL   Mobile County         Satsuma
4  1011040           1    Alabama       AL   Mobile County  Dauphin Island

             Place  Type Primary  Zip_Code Area_Code     ALand     AWater  \
0   Chickasaw city  City   place     36611       251  10894952     909156
1        Clio city  City   place     36048       334  26070325      23254
2  Columbiana city  City   place     35051       205  44835274     261034
3      Creola city  City   place     36572       251  36878729    2374530
4   Dauphin Island  Town   place     36528       251  16204185  413605152

         Lat        Lon   Mean  Median  Stdev        sum_w
0  30.771450 -88.079697  38773   30506  33101  1638.260513
1  31.708516 -85.611039  37725   19528  43789   258.017685
2  33.191452 -86.615618  54606   31930  57348   926.031000
3  30.874343 -88.009442  63919   52814  47707   378.114619
4  30.250913 -88.171268  77948   67225  54270   282.320328
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32526 entries, 0 to 32525
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          32526 non-null  int64
 1   State_Code  32526 non-null  int64
 2   State_Name  32526 non-null  object
 3   State_ab    32526 non-null  object
 4   County      32526 non-null  object
 5   City        32526 non-null  object
 6   Place       32526 non-null  object
 7   Type        32526 non-null  object
 8   Primary     32526 non-null  object
 9   Zip_Code    32526 non-null  int64
 10  Area_Code   32526 non-null  object
 11  ALand       32526 non-null  int64
 12  AWater      32526 non-null  int64
 13  Lat         32526 non-null  float64
 14  Lon         32526 non-null  float64
 15  Mean        32526 non-null  int64
 16  Median      32526 non-null  int64
 17  Stdev       32526 non-null  int64
 18  sum_w       32526 non-null  float64
dtypes: float64(3), int64(8), object(8)
memory usage: 4.7+ MB
None

In [2]:
# Handle missing values
income_df = income_df.dropna()

# Convert categorical variables to numerical format using pd.get_dummies
income_df = pd.get_dummies(income_df, drop_first=True)

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Load the dataset

income_df = pd.read_csv(file_path, encoding='latin1')

# Display the first few rows and summary information about the dataset
print(income_df.head())
print(income_df.info())

# Handle missing values
income_df = income_df.dropna()

# Convert categorical variables to numerical format using pd.get_dummies
income_df = pd.get_dummies(income_df, drop_first=True)

        id  State_Code State_Name State_ab          County            City  \
0  1011000           1    Alabama       AL   Mobile County       Chickasaw
1  1011010           1    Alabama       AL  Barbour County      Louisville
2  1011020           1    Alabama       AL   Shelby County      Columbiana
3  1011030           1    Alabama       AL   Mobile County         Satsuma
4  1011040           1    Alabama       AL   Mobile County  Dauphin Island

             Place  Type Primary  Zip_Code Area_Code     ALand     AWater  \
0   Chickasaw city  City   place     36611       251  10894952     909156
1        Clio city  City   place     36048       334  26070325      23254
2  Columbiana city  City   place     35051       205  44835274     261034
3      Creola city  City   place     36572       251  36878729    2374530
4   Dauphin Island  Town   place     36528       251  16204185  413605152

         Lat        Lon   Mean  Median  Stdev        sum_w
0  30.771450 -88.079697  38773   30506  33101  1638.260513
1  31.708516 -85.611039  37725   19528  43789   258.017685
2  33.191452 -86.615618  54606   31930  57348   926.031000
3  30.874343 -88.009442  63919   52814  47707   378.114619
4  30.250913 -88.171268  77948   67225  54270   282.320328
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32526 entries, 0 to 32525
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          32526 non-null  int64
 1   State_Code  32526 non-null  int64
 2   State_Name  32526 non-null  object
 3   State_ab    32526 non-null  object
 4   County      32526 non-null  object
 5   City        32526 non-null  object
 6   Place       32526 non-null  object
 7   Type        32526 non-null  object
 8   Primary     32526 non-null  object
 9   Zip_Code    32526 non-null  int64
 10  Area_Code   32526 non-null  object
 11  ALand       32526 non-null  int64
 12  AWater      32526 non-null  int64
 13  Lat         32526 non-null  float64
 14  Lon         32526 non-null  float64
 15  Mean        32526 non-null  int64
 16  Median      32526 non-null  int64
 17  Stdev       32526 non-null  int64
 18  sum_w       32526 non-null  float64
dtypes: float64(3), int64(8), object(8)
memory usage: 4.7+ MB
None

In [4]:
# Define features and target variable
target_column = 'Median'  # Change this to the actual name if different
X = income_df.drop(target_column, axis=1)
y = income_df[target_column]

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Train the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'RÂ² Score: {r2}')

# Calculate residuals
residuals = y_test - y_pred

# Identify samples with the highest errors
high_error_samples = residuals.abs().sort_values(ascending=False).head(5)
print(high_error_samples)

# Plot the distribution of median household income
plt.figure(figsize=(10, 6))
sns.histplot(income_df['Median'], kde=True)
plt.title('Distribution of Median Household Income')
plt.xlabel('Median Household Income')
plt.ylabel('Frequency')
plt.show()